.webgl-content {
	position: relative;
}

.gameContainer{
	 width: 960px; 
	 height: 600px;
	 margin: auto !important;
}

.fullscreen{
	position: absolute;
	bottom: -10px;
	right: 100px;
	font-size: 30px;
	transition: transform .5s;
}

.fullscreen:hover{
	cursor: pointer;
    transform: scale(1.2,1.2);
}