*{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
}

figure{
	position: relative;
}

a{
	text-decoration: none;
}

span{
	font-size: 16px !important;
}

.clear{
	clear: both;
}

.wrapper{
	background: url("../img/background.jpg") top no-repeat fixed;
}

.header-nav{
	height: 55px;
	background-color: #418EFF;
	padding: 0 20px;
}

.header-img{
	float: left;
	width: 15%;
	max-width: 200px;
	padding-top: 5px;
}

.header-menu-left{
	float: left;
	width: 45%;
}

.header-menu-right{
	float: right;
}

.header-menu-item{
	display: inline;
}

.header-menu-link{
	display: inline-block;
	padding: 25px 20px 9px 20px;
	font-size: 18px;
	
	text-transform: capitalize;
	color: white;
	font-weight: bold;
}

.header-menu-link:hover {
	background-color: #2F4AE8
}

.main{
	width:60%;
	margin: auto;
	background-color: rgba(255,255,255,0.95);
	padding: 30px 30px;
	min-height: 800px;
	position: relative;
}

.welcom-text{
	margin-top: 10px;
}

.jeuALaUne{
	margin-top: 30px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 3px 5px 10px black
}

.jeuALaUne-title{
	margin-bottom: 20px;
}

.jeuALaUne-figure{
	width: 40%;
	float: left;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	border-radius: 5px
}

.jeuALaUne-fig{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
    display: none;
}

.jeuALaUne-img{
	transition: transform .5s;
}

.jeuALaUne-figure:hover .jeuALaUne-img{
    transform: scale(1.2,1.2);
}

.jeuALaUne-figure:hover .jeuALaUne-fig{
    display: block;
}

.jeuALaUne-body-link{
	display: block;
	color: #418EFF;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0;
}

.jeuALaUne-body-link:hover{
	color: #2F4AE8;
}

.topJeux{
	margin: 30px 0;
}

.topJeux-body, .jeux-body, .jeuxPref-body{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.topJeux-item, .jeux-item, .jeuxPref-item{
	width: 22%;
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
}

.topJeux-item-figure, .jeux-item-figure, .jeuxPref-item-figure{
	position: relative;
	overflow: hidden;
}

.topJeux-item-img, .jeux-item-img, .jeuxPref-item-img{
	transition: transform .5s;
}

.topJeux-item-figure:hover .topJeux-item-img, .jeux-item-figure:hover .jeux-item-img, .jeuxPref-item-figure:hover .jeuxPref-item-img{
    transform: scale(1.1,1.1);
}

.topJeux-item-title, .jeux-item-title, .jeuxPref-item-title{
	font-size: 16px;
	text-align: center;
	color: black;
	margin: 5px;
}

.jeux-title, .jeuxPref-title, .contact-title{
	margin: 30px 0;
	text-decoration: underline;
}

.jeuALaUne-prix, .topJeu-prix, .jeux-prix{
	position: absolute;
	display: block;
	background: green;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	top: 5px;
	right: 5px;
}

.jeuxPref-unlike{
	background: rgb(200,0,0);
	border: 1px solid black;
	color: white;
	width: 20%;
	min-width: 100px;
	padding: 8px;
	font-size: 14px;
	border-radius: 5px;
	margin: 10px;
	
}

.jeuxPref-unlike:hover{
	background: rgb(255,0,0);
	cursor: pointer;
}

.jeuDescription{
	display: block;
	margin-bottom: 20px;
}

.form{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 60%;
	margin: 40px auto;
}

.form-title{
	margin-bottom: 10px;
	text-decoration: underline;
}

.form-label{
	font-size: 16px;
	margin-bottom: 5px;
}

.form-input{
	font-size: 16px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 20px;
}

.form-submit{
	background: rgb(0,155,0);
	border: 1px solid black;
	color: white;
	width: 20%;
	min-width: 100px;
	padding: 12px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	align-self: flex-end;
}

.form-submit:hover{
	background: rgb(0,200,0);
	color: gray;
	cursor: pointer;
}

.form-select{
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.webgl-content {
	position: relative;
	margin: 40px 0 80px 0;
}

.gameContainer{
	 width: 960px; 
	 height: 600px;
	 margin: auto !important;
	 border: 1px solid black !important;
}

.fullscreen{
	position: absolute;
	bottom: -30px;
	right: 100px;
	font-size: 30px;
	transition: transform .5s;
}

.fullscreen:hover{
	cursor: pointer;
    transform: scale(1.2,1.2);
}

.jeu-note{
	position: absolute !important;
	bottom: -30px;
	left: 100px;
}

.fb-share-button{
	position: absolute;;
	bottom: -30px;
	left: 300px;
}

.star_note{
	position : relative;
	overflow: hidden;
	width: 15px;
	height: 30px;
	float: left;
}

.star_gauche{
	color: 	#BBB;
	font-size: 30px;
	position: absolute;
	right: -15px;
	top: 0;
}

.star_droite{
	color: 	#BBB;
	font-size: 30px;
	position: absolute;
	right: 0;
	top: 0;
}

.jeuALaUne-note{
	height: 20px;
} 

.jeuALaUne-body .star_note{
	width: 10px;
	height: 20px;
}

.jeuALaUne-body .star_gauche{
	font-size: 20px;
	right:-10px;
}

.jeuALaUne-body .star_droite{
	font-size: 20px;
}

.buttons-like{
	background: rgb(0,205,0);
	border: 1px solid black;
	color: white;
	padding: 8px 12px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}

.buttons-like:hover{
	cursor: pointer;
	background: rgb:(0,255,0);	
}

.autreJeux-title{
	margin-bottom: 20px;
}

.jeu-title{
	margin-bottom: 10px;
}

.prix_jeu{
	position: absolute;
	display: block;
	background: green;
	color: white;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 5px;
	top: 10px;
	right: 10px;
}

.paiement{
	width:70%;
	margin: 20px auto;
	text-align: center;
}

.commentaires{
	border: 1px solid black;
	overflow: scroll;
	max-height: 400px;
	margin-bottom: 40px;
}

.commentaires-body{
	border-bottom: 1px solid black;
	padding: 10px;
}

.commentaires-body:nth-of-type(even){
	background: #F5F5F5;
}

.commentaires-body:nth-of-type(odd){
	background: #EFEFEF;
}

.commentaires-body:last-of-type{
	border: none;
}

.commentaires-title{
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.commentaires-note{
	float: right;
}

.votreNote{
	margin-bottom: 10px
}

.about-title{
	margin: 30px 0;
	text-align: center;
}

.about-body{
	width: 80%;
	margin: auto;
	padding: 10px;
	font-size: 18px;
}

.about-body p{
	margin-bottom: 10px;
	line-height: 1.5;
}

.footer{
	height: 55px;
	background-color: #418EFF;
	padding: 0 20px;
	bottom: 0;
	right: 0;
	left: 0;
}

.footer-img{
	float: right;
	width: 15%;
	max-width: 200px;
	padding-top: 5px;
}

.footer-menu{
	float: left;
	width: 60%;
}

.footer-menu-item{
	list-style: none;
	display: inline;
}

.footer-menu-link{
	display: inline-block;
	padding: 25px 20px 9px 20px;
	font-size: 18px;
	
	text-transform: capitalize;
	color: white;
	font-weight: bold;
}

.footer-menu-link:hover {
	background-color: #2F4AE8
}

.rating {
   direction: rtl;
   float: left;
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 30px;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: #FCDC12;
   cursor: pointer;
}

.mail_login{
	padding-top: 20px;
	width : 70%;
	float: left;	
}

.social_login{
	width: 30%;
	height: 300px;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}